:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

.brandContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.brandImage{
  max-height: 300px;
}

.bigCard{
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  
}

.brandTitle{
  margin: 0;
  padding: 0;
  font-size: 160%;
  color: black;

}

.bigCard:hover{
  border: 1px solid rgb(197, 197, 197);
  box-shadow: 0 10px 20px rgba(151, 151, 151, 0.19), 0 6px 6px rgba(143, 143, 143, 0.23);
}

.productImage{
  max-height: 150px;
}

.selectionContainer{
  margin: 0 10px;
}

.smallCard{
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  max-width: 150px;
  margin: 10px 0;
}

.smallCard:hover{
  border: 1px solid rgb(197, 197, 197);
  box-shadow: 0 10px 20px rgba(151, 151, 151, 0.19), 0 6px 6px rgba(143, 143, 143, 0.23);
}

.listItem{
  margin: 0 20px;
  padding: 10px;
  border: 1px solid rgba(197, 197, 197, 0.253);
  border-radius: 10px;
}

.title{
  width: 100%;
}